:root {
  --dark: #121212;
  --dark-medium: #3f3f3f;
  --medium: #717171;
  --medium-light: #d5d5d5;
  --light: rgb(255, 255, 253);;
}

*{
  overflow-x: hidden;
  margin: 0
}

body {
  font-size: 20px;
  font-family: "Helvetica", serif;
  margin: 0;
  background-color: var(--light);
  color: var(--dark-medium);
}

.center {
  text-align: center;
  justify-content: center;
}

.vr {
  border-left:1px solid #afafaf;
}

/* --- NAVBAR --- */

.navbar {
  display: flex;
  border: 1px solid var(--medium);
  background-color: var(--light);
}

.navbar-item {
  padding: 20px 3%;
  color: var(--dark);
  text-decoration: none;
}

.navbar-item:hover {
  background-color: var(--dark);
  color: var(--medium-light)
}

/* --- HOME PAGE --- */

.home-header {
  display: flex;
  padding: 75px 5% 75px 10%;

  justify-content: space-between;
  gap: 10%;
}

.introduction {
  display: flex;
  align-items: center;
  width: 60%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.see-more-section {
  border: 1px solid var(--medium-light);
  margin: 0 5% 75px 5%;
  border-radius: 25px;
  padding: 55px 10% 55px 10%;
  background-color:#fefefd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.see-more {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 55px 0 0 0;
}

/* --- SEE MORE BOX COMPONENT --- */

.box-container {
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 15px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.container-text {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.see-more-button {
  background: var(--dark-medium);
  color: var(--light);
  border: 0;
  font-size: 20px;
  width: 40%;
  padding: 7px 0;
  border-radius: 15px;
  text-decoration: none;
}

.see-more-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* --- PROJECT PAGE --- */

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 5%;
}

.project-card {
  border: 1px solid var(--medium-light);
  border-radius: 25px;
  margin: 20px;
  padding: 20px 5%;
  align-items: center;
  gap: 5%;
  display: block;
}

.project-image {
  width: 100%;
  border: 1px solid var(--medium-light);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.project-buttons {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  padding: 7px 0 3px 0;
}

.project-link {
  color: var(--medium);
  padding: 5px 0px 10px 0px;
  text-decoration: none;
  border-radius: 10px;
  overflow-y: hidden;
}

.project-link:hover {
  color: var(--medium-light);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.project-name {
  padding: 5px;
  font-size: 28px;
  text-align: center;
  overflow-y: hidden;
}

.project-description {
  overflow-y: hidden;
  margin: 0 5%;
  color: var(--dark-medium);
  display: block;
  max-height: none;
  font-family:Verdana, Tahoma, sans-serif;
  line-height: 30px;
  font-size: 16px;
}

.project-description > * {
  margin-bottom: 10px;
}

/* --- JOURNAL PAGE --- */

/* Basic layout for the journal page */
.journal {
  display: flex;
  min-height: 83vh;
  position: relative;
}

.sidebar {
  max-width: 25%;
  background-color: var(--dark-medium);
  color: white;
}

.sidebar div {
  padding: 20px;
  cursor: pointer;
}

.sidebar div:hover {
  background-color: var(--medium-light);
  color: var(--medium)
}

.selected {
  background-color: var(--medium);
  color: var(--light)
}

/* --- POST COMPONENT --- */

.post {
  padding: 50px 5%;
  max-width: 80%;
}

.title {
  color: var(--medium);
  display: inline-block;
}

.date {
color: var(--medium-light);
margin-bottom: 20px;
}

.content{
  color: var(--dark-medium);

}


/* --- FOOTER --- */

.footer {
  display: flex;
  justify-content: center;
  border: 1px solid var(--medium);
  padding: 20px 0;
}

.footer-item {
  text-decoration: none;
  color: var(--dark);
}

.footer-item:hover {
  color: var(--medium);
  cursor: pointer;
}

/*The following CSS is from https://www.codepel.com/carousel/automatic-image-slider-in-html-css-with-javascript/*/

@keyframes fade{
  from{
    opacity:0.4;
  }
  to{
    opacity:1;
  }
}

#slider{
  margin:0 auto;
  width:80%;
  overflow:hidden;
}

.slides{
  overflow:hidden;
  animation-name:fade;
  animation-duration:1s;
  display:none;
}

img{
  width: 90%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 15px;
}

/*#dot{
  margin:0 auto;
  text-align:center;
}
.dot{
  display:inline-block;
  border-radius:50%;
  background:#d3d3d3;
  padding:8px;
  margin:10px 5px;
}

.active{
  background:black;
}*/

@media (max-width:567px){
  #slider{
    width:100%;

  }
}

#heading{
  display:block;
  text-align:center;
  font-size:2em;
  margin:10px 0px;
}

/* --- RESPONSIVE --- */

@media (max-width: 796px) {
  .home-header, .see-more {
    flex-direction: column;
  }

  .introduction, img {
    width: 100%;
  }

  .introduction, .box-container {
    margin-bottom: 50px;
  }

  .home-header {
    padding: 75px 5% 75px 5%;
  }
}

@media (max-width: 972px) {
  .project-buttons {
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
  }

  .vr {
    border-left: 0px;
    border-bottom: 1px solid #afafaf;
    width: 50%;
    padding: 3px;
  }
}

@media (max-width: 652px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1400px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}