:root {
  --dark: #121212;
  --dark-medium: #3f3f3f;
  --medium: #717171;
  --medium-light: #d5d5d5;
  --light: rgb(255, 255, 253);;
}

*{
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Helvetica", serif;
  margin: 0;
  background-color: var(--light);
  color: var(--dark-medium);
}

.center {
  text-align: center;
  justify-content: center;
}

/* --- NAVBAR --- */

.navbar {
  display: flex;
  border: 1px solid var(--medium);
  background-color: var(--light);
}

.navbar-item {
  padding: 20px 3%;
  color: var(--dark);
  text-decoration: none;
}

.navbar-item:hover {
  background-color: var(--dark);
  color: var(--medium-light)
}

/* --- HOME PAGE --- */

.home-header {
  display: flex;
  padding: 75px 5% 75px 10%;
  width: 100vw;
  justify-content: space-between;
  gap: 10%;
}

.introduction {
  display: flex;
  align-items: center;
  width: 60%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.see-more-section {
  border: 1px solid var(--medium-light);
  margin: 0 5% 75px 5%;
  border-radius: 25px;
  padding: 45px 10% 50px 10%;
  background-color:#fefefd
}

.see-more {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 35px 0 0 0;
}

/* --- SEE MORE BOX COMPONENT --- */

.box-container {
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 15px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.container-text {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.see-more-button {
  background: var(--dark-medium);
  color: var(--light);
  border: 0;
  font-size: 20px;
  width: 40%;
  padding: 7px 0;
  border-radius: 15px;
  text-decoration: none;
}

.see-more-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* --- FOOTER --- */

.footer {
  display: flex;
  justify-content: center;
  border: 1px solid var(--medium);
  padding: 20px 0;
}

.footer-item {
  text-decoration: none;
  color: var(--dark);
}

.footer-item:hover {
  color: var(--medium);
  cursor: pointer;
}

/*The following CSS is from https://www.codepel.com/carousel/automatic-image-slider-in-html-css-with-javascript/*/

@keyframes fade{
  from{
    opacity:0.4;
  }
  to{
    opacity:1;
  }
}

#slider{
  margin:0 auto;
  width:80%;
  overflow:hidden;
}

.slides{
  overflow:hidden;
  animation-name:fade;
  animation-duration:1s;
  display:none;
}

img{
  width: 90%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 15px;
}

/*#dot{
  margin:0 auto;
  text-align:center;
}
.dot{
  display:inline-block;
  border-radius:50%;
  background:#d3d3d3;
  padding:8px;
  margin:10px 5px;
}

.active{
  background:black;
}*/

@media (max-width:567px){
  #slider{
    width:100%;

  }
}

#heading{
  display:block;
  text-align:center;
  font-size:2em;
  margin:10px 0px;
}

/* --- RESPONSIVE --- */

@media (max-width: 796px) {
  .home-header, .see-more {
    flex-direction: column;
  }

  .introduction, img {
    width: 100%;
  }

  .introduction, .box-container {
    margin-bottom: 50px;
  }

  .home-header {
    padding: 75px 5% 75px 5%;
  }
}